@import "./main.css";
@import "./navbar.css";
@import "./animations.css";
@import "./top.css";
@import "./aboutme.css";
@import "./portfolio.css";

:root {
  --max-width-out: 1280px;
  --max-width-in: 1000px;
  --border-radius: 8px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-sans: Poppins, sans-serif;

  /* Colors */
  --color-white-hsl: 60, 100%, 100%;
  --color-dark-hsl: 247, 24%, 7%;
  --color-semi-hsl: 235, 15%, 70%;
  --color-primary-hsl: 32, 100%, 51%;
  --color-secondary-hsl: 7, 86%, 62%;
  --color-tertiary-hsl: 339, 78%, 55%;
  /* Shadows */
  --shadow-dark-one-hsl: 247, 24%, 0%;
  --shadow-dark-two-hsl: 247, 24%, 20%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
