header {
  background-image: linear-gradient(
    to right,
    hsl(var(--color-primary-hsl)) 33%,
    hsla(var(--color-primary-hsl), 0%) 0%
  );
  background-position: bottom;
  background-size: 12px 1px;
  background-repeat: repeat-x;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 1em;
  vertical-align: middle;
}

.header > :first-child {
  flex: auto;
}

nav ul {
  display: inline-flex;
  list-style: none;
  gap: 2em;
  margin-right: 4em;
}

nav ul:last-child {
  margin-right: 2em;
}

.name-logo {
  font-size: 1.4em;
}

nav ul li a {
  position: relative;
}

nav ul li a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  top: 90%;
  left: 0;
  right: 100%;
  background-color: hsl(var(--color-primary-hsl));
  transition: all 300ms ease;
  animation: underlineBounceOut 100ms forwards ease;
}

nav ul li:hover a:before {
  animation: underlineBounceIn 400ms forwards ease;
}
