#top {
  display: flex;
  height: 90vh;
  align-items: center;
}

#topLeft {
  display: flex;
  flex-flow: column nowrap;
  flex: 2;
  gap: 1em;
}

#topLeft svg {
  max-height: 1.3em;
  width: auto;
}

#topLeft h1 {
  font-weight: normal;
}

#topLeft h1 span {
  font-weight: bold;
}

#topLeft p {
  color: hsl(var(--color-semi-hsl));
}

#topButtons {
  display: flex;
  gap: 0.5em;
}

#topButtons > * {
  font-size: 3.5em;
  transition: color 300ms ease;
}

#topButtons > :nth-child(1) {
  color: hsl(var(--color-primary-hsl));
}
#topButtons > :nth-child(2) {
  color: hsl(var(--color-tertiary-hsl));
}
#topButtons > :nth-child(3) {
  color: hsl(var(--color-secondary-hsl));
}
#topButtons > *:hover {
  color: hsl(var(--color-white-hsl));
}

#topRight {
  position: relative;
  height: 100%;
  flex: 3;
}

.circle,
.square {
  aspect-ratio: 1/1;
  position: absolute;
}

.circle {
  border-radius: 100%;
}
.square {
  border-radius: 20%;
}

#topRight .circle {
  left: 50%;
  transform: translate(-50%, -50%);
}

#topRight .square {
  transform: translateX(-50%);
}

#topRight .square.one {
  width: 3em;
}
#topRight .square.two {
  width: 1em;
}
#topRight .square.three {
  width: 2em;
}
#topRight .square.four {
  width: 1em;
}
#topRight .square.five {
  width: 3em;
}
#topRight .square.six {
  width: 2em;
}

.primary {
  background-color: hsl(var(--color-primary-hsl));
}
.secondary {
  background-color: hsl(var(--color-secondary-hsl));
}
.tertiary {
  background-color: hsl(var(--color-tertiary-hsl));
}
.white {
  background-color: hsl(var(--color-white-hsl));
}

#lines {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -10;
  opacity: 0.2;
}
